*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100vw;
    background-color: rgba(53, 153, 153, 0.541);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}
.container-first{
    height: 500px;
    border-radius: 5px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    justify-content: center;
    background-color: aqua;
    width: 300px;
}
.user{
    text-align: center;
    font-size: 50px;
    background-color: rgba(0, 0, 0, 0.185);
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
.input-and{
    width: 220px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: transparent;
    font-size: 15px;
}
.input{
    margin: 20px;
    border: transparent;
    border-radius: 4px;
    height: 40px;
    font-size: 15px;
    padding: 10px;
}
.Submit{
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 255, 0.568);
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-radius: 3px;
    margin: auto;
    font-size: 20px;
}