.body{
    background-image: url(''./image/istockphoto-1339908748-612x612.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
}